*{
    box-sizing: border-box;
}

html, body {
    margin: 0 ;
}

a {
    text-decoration:none;
    color: #ffffff;
}

ul li {
    list-style: none;
}

/* ----navbar------- */

.nav {
    height: 100px;
    align-items: center;
}

.nav-logo {
    width: 270px;
    height: 48px;
    margin-left: 60px; 
}

#logo{
    width :100%;
}

/* -----flex----- */
.nav,
.nav-menu,
.nav-left,
.nav-right,
.menu,
.main-content,
.main-block,
.category {
    display: flex;
    align-items: center;
}

.nav-left a {
    color:#3f3a3a;
}

.nav-left .isActive{
    color:#8b572a;
}

.nav-menu {
    width:90%;
    /* justify-content: space-around;  */
}

.menu li:nth-child(odd){ 
    font-size: 20px;
    letter-spacing: 30px;
    /* margin-right: 10px; */
}

.menu li:nth-child(even){
    width:34px;
    height: 28px;
    font-size: 20px;
}

.nav-right{
    margin-left: auto;
}
.nav-right input{
    width: 214px;
    height: 40px;
    padding-left: 20px;
    border: solid 1px  #979797; 
    border-radius: 25px;
    background-image: url(./images/search.png);
    background-repeat: no-repeat;
    background-position:  right 10px bottom ;
    background-size: 35px;
    font-size: 24px;
    margin-right: 10px;
} 


.item{
    width:44px;
    height:44px;
    margin-right: 10px;
}

.cart{
    background-image: url('./images/cart.png');
}

.cart-qty{
    text-align: center;
    background-color: #8b572a;
    font-weight: bold;
    border-radius: 50%;
    color: #ffffff;
    opacity: 0.8;
    font-size: 16px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin-left: 20px;
    margin-top: 20px;
}

.base {
    height: 40px;
    background-color: #333333;
    
}
/* ---------------------- */





/*---------- footer -------- */
.footer,
.footer-wrap,
.footer-menu,
.footer-contact {
    display: flex;
    align-items: center;
}

.footer{
    width:100%;
    height: 115px;
    background-color: #333333;
    justify-content: center;
}

.footer-wrap {
    width:60%;
    justify-content: space-between;
}

.footer-menu{
    width:50%;
    margin: 0;
    padding:0;
}

.footer-menu-2{
    width:210px;
}

.footer-menu li {
    height: 22px;
    width: 130px;
    margin-top: 46px;
    margin-bottom: 47px;
    color: #f5f5f5;
    text-align: center;
}

.footer-menu li:nth-last-child(1){
    width:70px;
    text-align: end;
}

.footer-menu span{
    width: 4px;
    height: 22px;
    margin-top: 46px;
    margin-bottom: 47px;
    color: #828282;
    text-align: center;
}

.footer-contact{
    width:30%;
    justify-content: flex-end;
    margin-right: 10px;
    margin-left: 10px;
}

.line,
.twitter,
.facebook {
    width:50px;
    height:50px;
}
.line,
.twitter{
    margin-right: 30px;
}

.footer-tag {
    width: 152px;
    height: 17px;
    font-size: 12px;
    color: #828282;
    
}


/* hide for mobile */
.fixed-bar,
.mobile-search{
    display:none;
}


/*---- nav & footer media query ------*/
@media (max-width: 1200px){

    .nav{
        flex-wrap: wrap;
        justify-content: center;

    }

    .nav-logo{
        margin: 5px;
    }

    .nav-menu{
        width: 100vw;
        position: absolute;
        top: 140px;
    }
    
    .footer-wrap {
        width:80%;
    }

}

@media (max-width: 1000px ){

    .nav-right,
    .base{
        display:none;
    }

    .nav{
        flex-direction: column;
        flex-wrap: nowrap;
        position: relative;
    }

    .mobile-search{
        display: flex;
        position: absolute;
        right: 10px;
        top: 5px;
    }

    .mobile-search-input {
        display: inline-block;
        position: absolute ;
        right: 10px;
        font-size: 16px;
        width: 214px;
        height: 40px;
        padding-left: 20px;
        border: solid 1px  #979797; 
        border-radius: 25px;
        background-image: url(./images/search.png);
        background-repeat: no-repeat;
        background-position:  right 10px bottom ;
        background-size: 35px;
        z-index: 1;
        font-size: 16px;
    }

    .nav-logo{
        display: flex;
        width: 151px;
        height:76px;
        justify-content: center;
        align-items: center;
    }
    
    .menu,
    .nav-left,
    .menu{
        align-items: center;
        justify-content: center;
        margin: 0;
        padding:0;
        width:100%;
    }

    .nav-menu {
        position: static;
    }
    .nav-left{
        height: 50px;
        background-color: #333333;
    }

    .nav-left a{
        color: #ffffff;
    }

    .menu li:nth-child(odd){
        width:32px;
        height:22px;
        font-size: 16px;
        letter-spacing: normal; 
        margin-left: 18px;
        margin-right: 44px;
    }
    
    .menu li:last-child{
        margin-right: 18px;
    }
    .menu li:nth-child(even){
        width:28px;
        height:22px;
        font-size: 16px;
    }

        /* -----footer  1000 ------*/
        .footer{
            height: 148px;
            margin-top: 30px;
            margin-bottom: 60px;
        }
    
        .footer-wrap {
            width:70%;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
        }
    
        .footer-menu{
            flex-direction: column;
            flex-wrap: wrap;
            height: 100px;
            flex-grow: 2;
        }
    
        .footer-menu li {
            display:flex;
            height: 20px;
            width: 76px;
            margin-top: 0px;
            margin-bottom: 8px;
            font-size: 14px;
            justify-content: flex-start;
            margin-right: 20%;
        }
    
        .footer-menu span {
            display: none;
        }
    
        .footer-contact{
            margin-top:-40px;
            display: flex;
            flex-grow: 1;
            justify-content: flex-end;
        }
        .footer-tag{
            width:100%;
            text-align: center;
            
        }
    
        .line, .twitter, .facebook {
            width:30px;
            height:30px;
        }
    
        .line, .twitter{
            margin-right: 10%;
        }
    
        /*------- fixed-bar 1000------ */
        .fixed-bar{
            display: flex;
            position: fixed;
            width:100%;
            height:60px;
            bottom: 0;
            align-items: center;
            justify-content: center;
            background-color: #333333;
            color: #ffffff;
            z-index: 100;
        }
    
        .fixed-block{
            display: flex;
            width:50%;
            align-items: center;
            justify-content: center;
            font-size:16px;
        }
        .fixed-bar span{
            margin: 0;
            padding:0;
        }
    
        .fixed-bar img{
            width: 40px;
            height: 40px;
            margin: 7px;
        }
        .mobile-cart{
            width: 40px;
            height: 40px;
            background-size: cover;
            background-image: url('./images/cart-mobile.png');
        }

        .mobile-cart-qty{
            text-align: center;
            background-color: #8b572a;
            font-weight: bold;
            border-radius: 50%;
            color: #ffffff;
            opacity: 0.8;          
            font-size: 14px;
            width: 20px;
            height: 20px;
            line-height: 20px;
            margin-left: 20px;
            margin-top: 20px;
        }
}

@media (max-width: 500px ){
    /* -----footer  500 ------*/
    .footer{
        height: 148px;
        margin-top: 6px;
        margin-bottom: 60px;
    }

    .footer-wrap {
        width:80%;
    }


    .line, .twitter, .facebook {
        width:20px;
        height:20px;
    }

    .line, .twitter{
        margin-right: 10%;
    }
}

/*---- nav & footer media query End------*/


/* hidden */
.hidden{
    display:none;
}