.main {
    height: 680px;
    padding-top: 20px;
    height: 800px;
    margin-bottom: 20px ;
}
.view {
    width: 70%;
    height: 100%;
    margin: 0 auto;
}

.profile {
    margin: 20px auto;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.title {
    width: 100%;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #5a565e;
}

.member_pic{
    flex-grow: 1;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#member_pic{
    border-radius: 50%;
    max-width: 200px;
}

.profile > .text{
    flex-grow: 1;
    padding-left: 10px;
}

.row {
    line-height: 1.8;
    margin-bottom: 10px;
}
#member_name{
    font-size: 30px;
}
#member_id{
    font-size: 20px;
    color: #8f8c8c
}

#member_email{ 
    font-size: 24px;
}

.logout {
    width: 80px;
    padding:10px;
    background-color: #5a565e;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

@media (max-width: 1000px ){

    .main{
        height: 600px;
    }
    .view {
        width: 90%;
    }

    .title {
        font-size: 28px;
    }
    

    .profile {
        flex-direction: column;
    }
    
    .member_pic{
        width:100px;
        height:100px;
        margin: 20px;
    }
    #member_pic{
        width: 100%;
    }
    .profile > .text{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .row{
        width: 100%;
        text-align: center;
    }
}
