.main {
    margin: 10px auto;
    padding: 10px 10px;
    color: #3f3a3a;
    font-size: 16px;
    height: 77vh;
    display: flex;
    align-items: center;
}

.view {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    padding-bottom: 10%;
}

.message {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    font-size: 24px;
    padding:20px;
    position: relative;
}

.message div {
    margin: 20px auto;
    width: 80%;
}

.line-1 {
    font-weight: bold;
    display: inline-block;
    text-align: left;
    width: 80%;
    padding-bottom: 20px;
    border-bottom: 1px dashed #3f3a3a;
}

.line-2 {
    font-size: 20px;
    flex: inline-block;
    
}

.line-3 {
    font-size: 18px;
}

#orderNumber {
    font-size: 30px;
    background-color: #eeeeee;
    letter-spacing: 4px;
    padding: 5px;
}

.message a {
    font-size: 16px;
    margin-top: 20px;
    padding: 10px;
    background-color: #928f8f;
    display: inline-block;
    position: absolute;
    left: 15%;
    bottom: -15%;
}
.message a:hover{
    opacity: 0.8;
}

@media (max-width: 800px ){
    .line-1 {
        font-size: 20px;
    }
    .line-2 {
        line-height: 1.8;
    }
    .line-3 {
        font-size: 16px;
    }

    #orderNumber {
        font-size: 24px;
    }
}



/* ------------------------- */
.message {
    animation-name: show;
    animation-duration: 2s;
    animation-timing-function: ease-in;
}




@keyframes show {
    0% {
        opacity: 0;
      }
     

    100% {
        opacity: 1;
    }
}

